.buttons {
    width: 20%;
    display: flex;
    align-items: center;
    margin: 100px auto 0;
    justify-content: space-around;
}
.buttons button {
    width: 120px;
    height: 30px;
    font-size: 20px;
    background-color: white;
    border: none;
}
